name: teamspace integration

on:
  push:
    branches: ["main"]
  release:
    types:
      - created
  pull_request:
    types: [ opened, reopened, ready_for_review, synchronize ]  # added `ready_for_review` since draft is skipped

jobs:
  cpu:
    runs-on: ${{ matrix.os }}
    if: github.event.pull_request.draft == false
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        auth_mode: ["user", "guest"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
        requires: ["latest"]
        include:
          - python-version: "3.10"
            requires: "oldest"
            os: "ubuntu-latest"
            auth_mode: "guest"
          - python-version: "3.9"
            requires: "oldest"
            os: "ubuntu-latest"
            auth_mode: "user"

    timeout-minutes: 20
    env:
      LIGHTNING_CLOUD_URL: https://staging.gridai.dev
      UV_TORCH_BACKEND: cpu

    steps:
    - uses: actions/checkout@v5
    - name: Install uv and setup python
      uses: astral-sh/setup-uv@v6
      with:
        activate-environment: true
        python-version: ${{ matrix.python-version }}
        enable-cache: true

    - name: Set min. dependencies
      if: matrix.requires == 'oldest'
      run: |
        uv pip install 'lightning-utilities[cli]>=0.15.1'
        uv run python -m lightning_utilities.cli requirements set-oldest --req_files=pyproject.toml

    - name: Install dependencies
      run: |
        uv sync --group tests
        uv pip list

    - name: Enable Guest Mode
      if: matrix.auth_mode == 'guest'
      shell: bash
      run: echo "TEST_GUEST_MODE=1" >> $GITHUB_ENV

    - name: Set Auth Credentials
      if: matrix.auth_mode == 'user'
      shell: bash
      run: |
        echo "LIGHTNING_USER_ID=${{ secrets.LIGHTNING_STAGING_USER_ID }}" >> $GITHUB_ENV
        echo "LIGHTNING_API_KEY=${{ secrets.LIGHTNING_STAGING_API_KEY }}" >> $GITHUB_ENV

    - name: Tests
      working-directory: tests/
      run: |
        uv run pytest integrations/ -vvs
